language: ruby
rvm: 2.5.1

services:
  - mysql


bundle_args: --jobs=3 --retry=3


cache: bundler


before_install:
  - gem install bundler -v 2.0.2
  - bundle install

before_script:
#  - bundle exec rake db:create
#  - ./lib/team/migration_up.sh
#  - bundle exec rake db:migrate

script:
#  - bundle exec rake spec

notification:
# slackへの通知（作成中)
#  slack: '<account>:<token>'
