
// common
$f-size-base: 14px;

// color scheme
$f-color-base: #333;
$fm-red: #ea352d;
$bg-mypage: #f5f5f5;
$bg-sidebar-this-page: #eee;
$bg-sidebar-hover: #fafafa;
$bg-mypage-tab-container-header: #fafafa;
$bg-mypage-tab-non-active: #eee;


// for layouts
$width-content-pc: 1020px;
$width-sidebar-mypage: 280px;
$height-breadcrumb: 48px;
$height-sidebar-item: 48px;

// link color
$link-color: #0099e8;

// button hover color
$hover-red: #e62017;



