@font-face {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

// color scheme
$f-color-base: #333;
$fm-red: #ea352d;

// for layouts
$width-content-pc: 1020px;
$height-breadcrumb: 48px;