.login-header
  .login-header__title
    .login-header__title_logo
    = link_to (image_tag "fmarket_logo_red.svg", size: "185x49", alt: "Fmarket",class: "login-header__upper__title-logo__link"), :root            
.login-main
  .login-main__container
    .login-main__container-registration
      新規会員登録  
    .login-main__container-form
      .login-main__container-form__list 
        .wrapper-mail-btn
          = link_to "メールアドレスで登録する", registlation_signup_index_path, class: "wrapper-mail-btn__link"
        .wrapper-facebook-btn
        
          = link_to'Facebookで登録する', root_path, class: "wrapper-facebook-btn__link"
        .wrapper-google-btn
        
          = link_to 'Googleで登録する','#', class: "wrapper-google-btn__link"

