
.login-header-done 
  .login-header-done__index 
    %b
      会員登録完了
  .login-header-registration__form
    .login-header-done__form-content
      ありがとうございます。
      %br/
      会員登録が完了しました。
  = link_to root_path, class: "done-button" do
    Fmarketを始める