.login-header-sms
  .login-header-sms__index 
    %b          
      電話番号の確認
  .login-header-sms__form
    = form_for @user, url: address_signup_index_path, method: :post, html: {class: 'first-main__box'} do |f|
      .login-header-sms__form-content
        .form-group
          = f.label '携帯電話の番号' ,class: 'login-header-sms__label'
          %span.login-header-sms__form--must 必須
          %br/
          %p.userloginform-into__sub-sms
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。  
          = f.text_field :telephone, placeholder: '携帯電話の番号を入力',class: 'input-default',required: true
          = f.submit class: 'btn-default',value:'SMSを送信する',"data-disable-with": "送信中..."
          %p.sms_form__into-text
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .link-block  
          =link_to '電話番号の確認が必要な理由 >','#' ,method: :get