@import '../../config/variables';

.card-contents{
  height: 365px;
  width: 700px;
  background-color: #fff;
  font-size: 24px;
    &__head{
      width: auto;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 2px solid #f5f5f5;
      font-weight: bold;
    }
    &__main{
      height: 185px;
      width: 572px;
      padding: 64px;
      &__section{
        height: 130px;
        border-bottom: 1.4px solid #f5f5f5;
        &__text{
          width: 320px;
          font-size: 16px;
          font-weight: bold;
          margin: 0px auto;
        }
        &__form{
          width: 320px;
          margin: 24px auto ;
          position: relative;
          &__image{
            position: relative;
            right: 34px;
            
            
          }
          &__number{
            font-size: 16px;
            margin-top: 8px;
          }
          &__date{
            font-size: 16px;
            margin-top: 8px;
          }
          &__btn{
            border: 1px solid #ea352d;
            border-radius: 3px;
            color: $fm-red;
            padding: 1.5px 6px;
            position: absolute;
            top: 0px;
            right: 0px;
          }
          :hover{
            cursor: pointer;
          }

        }
      }
      &__method{
        height: calc(185px - 130px);
        position: relative;
        &__text{
          font-size: 14px;
          text-decoration: none;
          color:#0099e8;
          position: absolute;
          right: 0px;
          bottom: 0px;
          line-height: initial;
          &:hover{
            text-decoration: underline;
            color: #45c7fa;
          }
          &__icon{
            font-size: 1rem;
            margin-left: 3px;
          }
        }
      }
    }
  
}
