@import '../../config/variables';


.index-contents {
  width: 100%;

  &__user {
    &__icon-container {
    }

    &__name {
    
    }
    &__kpis {
      &__item {
        &__number {

        }
      }
    }
  }

  &__tab-container {
    margin-top: 40px;
    &__header {
      width: 100%;
      &__caption {
        height: 72px;
        line-height: 72px;
        display: block;
        padding: 0 16px;
        background-color: $bg-mypage-tab-container-header;
      }
    }
    &__tabs {
      display: flex;
      justify-content: space-between;
      list-style: none;

      &__tab {
        width: 50%;
        text-align: center;
        background-color: $bg-mypage-tab-non-active;
        &.active {
          border-top: 2px solid $fm-red;
          background-color: #fff;
        }
        &__link {
          height: 72px;
          line-height: 72px;
          display: block;
          text-decoration: none;
          color: $f-color-base;
        }
      }
    }
    &__contents {
      background-color: #fff;
      &__transaction-now {
        padding: 160px 0 60px;
        list-style: none;
        text-align: center;
        &--item-not-found {
          color: #ccc;
        }
      }
      &__transaction-old {

      }
    }
  }
}

