@import '../../config/variables';

.mypage {
  width: 100vw;
  &__breadcrumb {
    width: 100vw;
    height: $height-breadcrumb;
    border-top: solid 1px #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  }
  &__main {
    width: 100vw;
    height: 100%;
    &__wrapper {
      width: $width-content-pc;
      height: 100%;
      margin: 40px auto 0;
      padding-bottom: 40px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &__main {
        width: 700px;
        background-color: grey;
      }
      &__sidebar {
        width: 280px;
        background-color: grey;
      }
    }
  }
}
