@import '../../config/variables';
@import '../../mixin/mixin';

.search-sidebar {
  width: 280px;
  height: 100%;
  background-color: $bg-mypage;
  &__upper {
    @include select();
    margin-top: 0px;
    border-radius: 5px;
  }
  &__bottom {
    margin-top: 40px;
    padding: 16px;
    background-color: $fm-white;
    &__top {
      font-size: 16px;
    }
    &__type {
      margin-top: 24px;
      &__keyword {
        @include text-box();
        margin-top: 8px;
      }
      &__category {
        @include select();
      }
      &__brand {
        @include select();
      }
      &__size {
        @include select();
      }
      &__price {
        @include select();
        &__text-box {
          display: flex;
          margin-top: 8px;
          &__min {
            @include text-box();
          }
          &__range {
            line-height: 45px;
            margin: 0 10px;
          }
          &__max {
            @include text-box();
          }
        }
      }
      &__item-condition {
        margin-top: 16px;
        &__check-wrapper {
          width: 48%;
          height: 40px;
          line-height: 20px;
          float: left;
          display: flex;
          & input[type=checkbox] {
            width: 17px;
            height: 20px;
          }
          & label {
            font-size: 14px;
          }
        }
      }
      &__ship-fee-bearer {
        margin-top: 16px;
      }
      &__item-status {
        margin-top: 16px;
      }
      &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        &__clear {
          @include form_button($b_color: #bbb);
          width: 45%;
          height: 48px;
          border: 1px solid #bbb;
        }
        &__ok {
          @include form_button();
          width: 45%;
          height: 48px;
          border: 1px solid $fm-red;
        }
      }
    }
  }
}
