@import '../../config/variables';
@import '../../mixin/mixin';

.search-sidebar {
  width: 280px;
  height: 100%;
  background-color: $bg-mypage;
  &__upper {
    @include select();
    margin-top: 0px;
    border-radius: 5px;
  }
  &__bottom {
    margin-top: 40px;
    padding: 16px;
    background-color: $fm-white;
    &__top {
      font-size: 16px;
    }
    &__type {
      margin-top: 24px;
      &__keyword {
        @include text-box();
        margin-top: 8px;
      }
      &__category {
        @include select();
      }
      &__brand {
        @include select();
      }
      &__size {
        @include select();
      }
      &__price {
        @include select();
      }
    }
  }
}
