// items#newとitems#editで共用
@import '../../config/variables';
@import '../../mixin/mixin';

.sell-wrapper {
  background-color: $fm-white;
  width: 700px; // 後で変数化
  margin: 0 auto;
  &__index {
    text-align: center;
    font-size: 22px;
    color: #333333;
    padding: 32px 0;
    border-bottom: 2px solid #f5f5f5;
  }
  &__form {
    padding: 40px;
    border-bottom: 2px solid #f5f5f5;
    &__select {
      @include select();
    }
    &--must {
      color: $fm-white;
      background-color: #ea352d;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 3px;
    }
    &--not-must {
      color: $fm-white;
      background-color: #bbb;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 3px;
    }
    &__image{
      &__content {
        display: flex;
      }
      &__title {
        font-size: 16px;
        font-weight: bold;
      }
      &__explanation {
        line-height: 35px;
      }
      &__upload-box {
        padding: 40px;
        border: 1px dashed #ccc;
        background-color: #f5f5f5;
        &__sentence {
          height: 80px;
          width: 100%;
          text-align: center;
          &__span {
            height: 80px;
            width: 100%;
            padding-left: 120px;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
    &__content {
      &__name {
        &__upper {
          display: flex;
          margin-bottom: 8px;
        }
        &__title {
          font-size: $f-size-base;
          font-weight: bold;
        }
        &__bottom {
          width: 100%;
          &__text-box {
            font-size: 16px;
            width: calc(100% - 32px);
            padding: $box-padding;
            line-height: 1.5;
            border: 1px solid #dddddd;
            border-radius: 4px;
          }
        }
      }
      &__explain {
        margin-top: 40px;
        &__bottom {
          &__text-box {
            font-size: 16px;
            min-height: 104px;
            width: calc(100% - 32px);
            padding: $box-padding;
            line-height: 1.5;
            border: 1px solid #dddddd;
            border-radius: 4px;
            
          }
        }
      }
    }
    &__detail {
      display: flex;
      justify-content: space-between;
      &__left {
        color: gray;
      }
      &__right {
        width: 400px;
        &__upper {
          &__category {
            display: flex;
          }
        }
        &__center {
          margin-top: 40px;
        }
        &__bottom {
          margin-top: 40px;
        }
      }
    }
    &__delivery {
      display: flex;
      justify-content: space-between;
    }
    &__price {
      display: flex;
      justify-content: space-between;
      & ul li {
        list-style: none;
      }
      &__first {
        padding-bottom: 24px;
        border-bottom: 1px solid #dddddd;
        &__wrapper {
          display: flex;
          justify-content: space-between;
          &__height {
            line-height: 48px;
          }
          &__right {
              position: relative;
            &__money {
              height: 30px;
              margin-left: 5px;
              padding: $box-padding;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: $fm-white;
              line-height: 1.5;
              font-size: 16px;
              text-align: right;
            }
          }
        }
      }
      &__second {
        padding: 24px 0;
        border-bottom: 1px solid #dddddd;
        display: flex;
        justify-content: space-between;
      }
      &__third {
        font-size: 16px;
        font-weight: bold;
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        &__right {
          font-size: 34px;
          font-weight: normal;
        }
      }
    }
    &__sell-btn {
      &__sent {
        width: 100%;
        margin-top: 40px;
        line-height: 48px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: $fm-white;
        &:hover {
          cursor: pointer;
          background-color: #e62017;
        }
      }
      &__back {
        width: 45%;
        margin: 24px auto 0;
        background-color: #aaa;
        line-height: 48px;
        text-align: center;
        border: 1px solid #aaa;
        color: $fm-white;
        transition: background-color 0.5s linear;
        &:hover {
          cursor: pointer;
          background-color: #bbb;
          border: 1px solid #bbb;
          transition-duration: 0.5s;
          transition: background-color 0.5s linear; /* 追加 */
        }
        // items#editのキャンセルボタン用
        &__link {
          text-decoration: none;
          color: $fm-white;
        }
      }
    }
  }
}

.dropzone-container {
  height: 162px;
  width: 620px;
}

#preview {
  float: left;
  margin-right: 10px;
}

.img_view {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  img {
    height: 116px;
    width: 114px;
  }
}

.img_view:first-child {
  margin-left: 0px;
}

.img_view:nth-child(6) {
  margin-left: 0px;
}

.btn_wrapper {
  display: flex;
  font-size: $f-size-base;
}

.btn {
  color: #0099e8;
  background-color: #f5f5f5;
  width: 50%;
  line-height: 44px;
  text-align: center;
}

.btn:hover {
  color: #23b4ff;
  background-color: #f7f6fb;
  text-decoration: underline;
  cursor: pointer;
}


.dropzone-area {
  width: 100%;
  height: 162px;
  background-color: yellow;
  float: left;
}

.dropzone {
  width: 100%;
  height: 100%;
  display: none;
}

.boxFileSelect {
  width: 100%;
  height: 147px;
  margin: auto;
  padding: 10px 0 8px;
  border: 1px dashed #d3d3d3;
  background: #eee;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  p {
    width: 100%;
    height:  100%;
    margin-top: 55px;
    display: inline-block;
  }
}

.dropzone-area2 {
  float: left;
  display: none;
}

.clearfix {
  clear: both;
}
