@import './config/variables';

.mypage__breadcrumb{
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.6) rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.6)x rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.6) rgba(0,0,0,0.6);
  margin-bottom: 3px; 
}


.bread-crumb-list {
  width: $width-content-pc;
  height: $height-breadcrumb;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  letter-spacing: 1px;
  padding-left: 14px;
  a {
    color: black;
    text-decoration: none;
    margin-right: 5px;
  }
  .current {
    font-weight: bold;
  }
  &__item {
    &__link{
      margin-right: 3px;
      text-decoration: none;
      color: $f-color-base;
    }
    &__icon{
      color: #888;
      margin: 0px 8px;
      font-size: 0.7rem;
    }
  }
  &__item--bold{
    font-weight: bold;
  }
}

