.user-login{
  background-color: #f5f5f5;  
  height: 100%;
  .login-header{
    font-size: 24px;
    height: 128px;
    text-align: center;
    margin: 0 auto;
    background-color: #f5f5f5;
      &__title{
        width: 40%;
        padding-top:35px;
        display: block;
        margin: 0 auto;
        &__logo{
          margin: 0 auto;
      }
    }
  }
  .login-main{
    background-color: #f5f5f5;
    height: 350px;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    &__container{
      &-registration{
        border-bottom:solid 1px #f5f5f5;
        padding-top:32px;
        font-weight: bold;
        font-size: 24px;
        height: 50px;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        border-style: solid;
      }
      &-form{
        padding-top: 20px;
        &__list{
          margin: 0 auto;
          width: 350px;
          list-style: none;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          &__btn-mail{
            color: #fff;
            background-color: #ea352d;
            cursor: pointer;
            border-radius: 4px; 
          }
          &__btn-facebook{  
            margin: 16px 0 0;
            background: #385185;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
          }
          &__btn-google{
            margin: 16px 0 0;
            background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
            border: #979797 solid 1px;
            color: #333;
            cursor: pointer;
            border-radius: 4px;
          }
          .fab{
            font-size: 24px;
            display: block;
            width: 20px;
            padding-top:10px;
            padding-left:10px;
            float: left;
          }
          .fas{
            font-size: 24px;
            display: block;
            width: 20px;
            padding-top:10px;
            padding-left:10px;
            float: left;
          }
        }
      }
    }
  }
  .login-footer{
    padding-top:80px;
    background-color: #f5f5f5;
    height: 200px;
    width: auto;
    margin: 0 auto;
    &__list{
      width: auto;
      height: auto;
      margin: 0 auto;
      & ul{
        width: 100vw;
        text-align: center;
        color: #333;  
        & li {
          text-align: center;
          list-style: none;
          color: #333;  
          text-align: center;
          margin-right:20px ;
          float: left; 
        }
        .btn-square-little-rich{
          color: #333; 
          font-size: 12px;
          text-decoration: none;
          list-style: none;
          margin-left:15px;
          &:hover{
            text-decoration: underline;
          }
        } 
      }
    }
    &__container{
      display: block;
      margin: 10 auto;
      color: grey;
      display: flex;
      align-items:center;
      &__link{  
        color: #333;  
        text-decoration: none;  
        list-style: none;
        font-size: 12px;
        margin: 16px 16px 16px;
      }
    }
    &__title-logo{
      margin-top: 70px;
      text-align: center;
      &__link{
        margin: 0 auto;
        text-align: center;
      }
    }
    &__copyright{
      text-align: center;
      font-size: 2px;
    }
  }      
}
