.registration-header
  .registration__title
    .registration__title_logo
      = link_to (image_tag "fmarket_logo_red.svg", size: "185x49", alt: "Fmarket",class: "login-header__upper__title-logo__link"), :root
  .sub-header
    .progss-bar
      %ul.progss-bar__ul
        %li.progss-bar__item
          .fifth
            完了
            .progss-bar__circle-first
        %li.progss-bar__item#modify
          .fourth
            支払い情報
            .progss-bar__circle.nowpoint
        %li.progss-bar__item
          .third
            住所入力
            .progss-bar__circle
        %li.progss-bar__item
          .second
            電話番号認証
            .progss-bar__circle
        %li.progss-bar__item
          .first
            会員情報
            .progss-bar__circle