.login-header
  .login-header__title
    .login-header__title_logo
    = link_to (image_tag "fmarket_logo_red.svg", size: "185x49", alt: "Fmarket",class: "login-header__upper__title-logo__link"), :root            
.login-main
  .login-main__container
    .login-main__container-registration
      新規会員登録  
    .login-main__container-form
      %ul.login-main__container-form__list 
        %li.login-main__container-form__list__btn-mail
          %a.fas.fa-envelope
          = link_to 'メールアドレスで登録する', "/signup/registlation", method: :get 
        %li.login-main__container-form__list__btn-facebook  
          %a.fab.fa-facebook-square
          Facebookで登録する
        %li.login-main__container-form__list__btn-google 
          %a.fab.fa-google
          Googleで登録する