@import '../../config/variables';
@import '../../mixin/mixin';

.wrapper {
  background-color:$bg-mypage;
  padding: 40px;
  .item-box-container {
    width: $width-container-show;
    margin: 0 auto ;
    padding-top: 30px,;
    &__wrapper {
      padding-top: 30px;
      background-color: #fff;
    }
    .item-name {
      font-size: $f-size-title;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    .item-main-content {
      margin: 16px 40px 0;
      display: flex;
      .item-photo {
        min-width: 300px;
        max-width: 300px;
        margin-right: 20px;
        &__load {
          background-color: $bg-sidebar-hover;
          min-height: 375px;
        }
        &__thumbnail {
          ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
          }
        }
      }
      .item-detail-table {
        border-style: solid;
        border-color: $bg-mypage;
        border-width: 0.5px;
        width: 300px;
        height: 420px;
        text-decoration: none;
        tr {
          border-style: solid;
          border-color: $bg-mypage;
          border-width: 0.5px;
          th.th{
            border-style: solid;
            border-color: $bg-mypage;
            border-width: 0.5px;
            background-color: $bg-sidebar-hover;
            width: 39%;
            text-align: left;
            font-weight: 400;
            vertical-align: middle;
            padding-left: 5px;
          }
          td {
            padding-left: 8px;
            vertical-align: middle;
          }
          td.user-info{
            .name {
              color: $link-color;
              text-decoration: none;
            }
            ul.item-user-ratings {
              display: flex;
              list-style: none;
              li {
                padding-top: 10px;
              }
              li.icon-good {
                i.fas.fa-laugh {
                  color: #ef5185;
                }
              }
              li.icon-normal {
                margin-left: 3px;
                i.fas.fa-meh {
                  color: #fba933;
                }
              }
              li.icon-sad {
                margin-left: 3px;
                i.fas.fa-tired {
                  color: #6ab5d8;
                }
              }
              i {
                font-size: $box-font-size;
              }
              span {
                font-size: 13px;
              }
            }
          }
          td.item-category {
            ul.item-categories {
              list-style: none;
              li {
                a {
                  text-decoration: none;
                  color: $link-color;
                }
              }
            }
          }
          td.bland {
            a {
              text-decoration: none;
              color: $link-color;
            }
          }
          td.prefecture {
            a {
              text-decoration: none;
              color: $link-color;
            }
          }
        }
      }
    }
    .item-price-box {
      margin: 24px 0 0;
      text-align: center;
      .item-price {
        font-size: 45px;
      }
      .item-tax {
        font-size: 10px;
      }
      .item-shipping-fee {
        font-size: 15px;
      }
    }
    .item-buy-btn {
      display: block;
      text-align: center;
      @include form_button();
      font-size: $f-size-title;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      margin: 0 40px;
      text-decoration: none;
      margin-top: 10px;
    }
    .item-buy-btn__soldout {
      display: block;
      text-align: center;
      @include form_button(#888);
      font-size: 24px;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      margin: 0 40px;
      text-decoration: none;
    }
    .shipping-not-allowed-message {
      margin: $box-font-size ;
      text-align: center;
      color: $fm-red;
    }
    .item-description {
      font-size: 18px;
      color: #333;
      margin: 20px 40px;
      line-height: 1.5em;
    }
    .item-button-container {
      height: 60px;
      .item-button-left {
        .like-link {
          list-style: none;
          float: left;
          i {
            margin: 0 5px;
          }
          a {
          display: none;
          margin-left: 40px;
          padding: 10px 10px;
          font-size: $f-size-base;
          color: #333;
          background-color: rgb(239, 239, 239);
          border-radius: 17px;
          list-style: none;
          display: inline-block;
          text-decoration: none;
          }
        }
        .item-button-report {
          list-style: none;
          margin: 0 10px;
          float: left;
          i {
            margin: 0 5px;
          }
          a {
          padding: 10px;
          font-size: $f-size-base;
          color: #333;
          background-color: rgb(239, 239, 239);
          border-radius: 17px;            
          list-style: none;
          display: inline-block;
          text-decoration: none;
          }
        }
      }
      .item-button-right {
        float: right;
        margin-right:  20px;
        list-style: none;
        i {
          margin: 0 5px;
        }
        a {
          padding: 10px;
          text-decoration: none;
          color: $link-color;
          &:hover{
            color: #b3d4fc;
          }
        }
      }
    }
  }
  .item-detail-message {
    height: 262px;
    width: $width-container-show;
    margin: 8px auto 0;
    background-color: #fff;
    .message-container {
      height: 262px;
      width: $width-container-show;
      .message-content {
        padding: 24px;
        height: 214px;
        .message-form {
          height: 214px;
          p {
            background-color: #fff6de;
            padding: 8px;
            margin-bottom: 10px;
            font-size: $f-size-base;
          }
          textarea{
            height: 80px;
            width: 630px;
            padding: 10px;
            border-color: #ccc;
          }
          .message-submit-btn {
            width: 100%;
            height: 50px;
            margin-top: 5px;
            background-color: #aaa;
            border: none;
            span {
              font-size: $f-size-base;
              vertical-align: middle;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .nav-item-link {
    list-style: none;
    margin: 20px auto 0;  
    width: $width-container-show;
    &__prev {
      float: left;
      text-decoration: none;
      color: $link-color;
      &:hover {
        text-decoration: underline;
        color:#b3d4fc;
      }
    }
    &__next {
      float: right;
      text-decoration: none;
      color: $link-color;
      &:hover {
        text-decoration: underline;
        color: #b3d4fc;
      }
    }
  }
  .item-social-media-box {
    height: 100%;
    width: 652px;
    padding: 24px;
    background-color: #fff;
    margin: 80px auto 0;
    &__link {
      color: $fm-white;
      text-decoration: none;
    }
    .item-edit-btn {
      @include form_button();
      padding: 20px 0;
    }
    .item-delete-btn {
      @include form_button($b_color:#aaa);
      padding: 20px 0;
      margin: 20px 0;
    }
    .modal {
      max-height: 100vh;
      background-color: transparent;
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 1;
      &__bg {
        background: rgba(0,0,0,0.4);
        height: 100vh;
        position: absolute;
        width: 100vw;
      }
      &__content {
        background: #fff;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        &__wrapper {
          padding: 80px 160px;
          text-align: center;
          background-color: #fff;
          &__title {
            font-size: $box-font-size;
            font-weight: bold;
            margin-bottom: 10px;
          }
          &__sentence-one {
            margin-bottom: 20px;
          }
        }
        ul {
          display: flex;
          li {
            border-top: 1px solid #ddd;
            line-height: 60px;
            width: 50%;
            height: 60px;
            list-style: none;
            text-align: center;
            .js-modal-close {
              width: 100%;
              height: 100%;
              cursor: pointer;
            }
            .link-delete {
              color: $link-color;
              text-decoration: none;
              &__sentence {
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
          }
          li:first-child {
            border-right: 0.5px solid #ddd;
          }
          li:last-child {
            border-left: 0.5px solid #ddd;
          }
        }
      }
    }
    .social-media-box {
      text-align: center;
      .share-btn {
        display: inline-block;
        list-style: none;
        font-size: 50px;
        margin: 0 1px;
        .fab.fa-facebook-square {
          color: #3b5998;
        }
        .fab.fa-twitter-square {
          color: #1da1f2;
        }
        .fab.fa-line {
          color: #00c300;
        }
        .fab.fa-pinterest-square {
          color: #cd081c;
        }
      }
    }
  }
  .items-in-user-profile {
    margin: 0 auto ;
    .items-box-container {
      width: 750px;
      margin: 30px auto 0 auto;
      .items-box-head {
        text-decoration: none;
        color: $link-color;
        font-size: 22px;
        margin-left: 11px;
      }
      .items-box-content {
        width: 750px;
        padding-bottom: 30px;
        ul {
          width: 745px;
          display: flex;
          flex-wrap: wrap;
          li {
            margin-left: 23px;
            margin-right: -2px;
          }
        }
      }
    }
  }
}

.item-box__image {
  height: 220px;
  position: relative;
  &-soldtag{
    float: left;
    position: absolute;
    // left: 0;
    bottom:183px;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    
  }
  &-sold-triangle  {
    width: 0;
    height: 0;
    position: absolute;
    top:0;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #ea352d transparent transparent transparent;
  }
}

.item-show-footer{
  width: 100vw;
  height: 48px;
  position: relative;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  &__content{
    line-height: 48px;
    list-style: none;
    display: flex;
    margin: 0 130px;
    &__title {
      text-decoration: none;
      color: black;
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
    &__icon {
      margin: 0 10px;
      color: #888;
    }
    &__item {
      font-weight: bold;
    }
  }
}

.fas fa-chevron-left slick-arrow{
  position: relative;
  top: 30px;
  background-color: red;
  color: red;
}
.slide-item-soldtag{
  float: left;
  position: absolute;
  top: 26px;
  z-index: 2;
  font-size: 30px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
  
}
.slide-item-sold-triangle {
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  border-style: solid;
  border-width: 120px 120px 0 0;
  border-color: #ea352d transparent transparent transparent;
}