%li.item-box
  = link_to "#", class: "new-items-by-category__wrapper--list__bottom__link" do
    .item-box__image
      = image_tag "mercari.jpg", size: "220x220", alt: "商品イメージ"
    %h3.item-box__item-name "ここは文字数制限すすすすする".truncate(値)
    .item-box__item-num
      .item-box__item-num--price ¥4,900
      .item-box__item-num--like
        %i.far.fa-heart
        %span 8