-if @item.transaction_status==3
  - @item.item_images.each do |image|
    %li.slide-item
      = image_tag "#{image.image_url}", size: "300x300"
      .slide-item-soldtag
        sold
      .slide-item-sold-triangle  
-else
  - @item.item_images.each do |image|
    %li.slide-item
      = image_tag "#{image.image_url}", size: "300x300"