.contents-wrapper
  %section.contents-wrapper__user
    %figure.contents-wrapper__user__icon-container
      = image_tag "", alt: "user icon"
    %h2.contents-wrapper__user__name
    .contents-wrapper__user__kpis
      .cotents-wrapper__user__kpis__item
        評価
        %span.contents-wrapper__user__kpis__number
          51
      .cotents-wrapper__user__kpis__item
        出品数
        %span.contents-wrapper__user__kpis__number
          100      
  %section.contents-wrapper__tab-container
  %section.contents-wrapper__tab-container