.contents-wrapper
  .index-contents
    %section.index-contents__user
      %figure.index-contents__user__icon-container
        = image_tag "", alt: "user icon"
      %h2.index-contents__user__name
      .index-contents__user__kpis
        .index-contents__user__kpis__item
          評価
          %span.index-contents__user__kpis__number
            51
        .index-contents__user__kpis__item
          出品数
          %span.index-contents__user__kpis__number
            100      
    %section.index-contents__tab-container
    %section.index-contents__tab-container