.like-item-wrapper
  %ul.like-item
    %li.like-item__image
      = image_tag 'footer_image.png', size:'48x48'
    %li.like-item__info
      .like-item__info--name
        ロングワンピース  未使用品
      .like-item__info--price
        ¥1233円
    %i.fas.fa-chevron-right