.mypage
  %nav.mypage__breadcrumb
    - breadcrumb :identification
    = render "layouts/breadcrumb"
  .mypage__main
    .mypage__main__wrapper
      %article.mypage__main__wrapper__main
        = render "identification"
      %nav.mypage__main__wrapper__sidebar
        = render "layouts/sidebar_mypage"
    