%ul.bread-crumb-list
  %li.bread-crumb-list__item
    = link_to "/", class: "bread-crumb-list__item__link" do
      Fmarket
    = fa_icon "chevron-right", class: "bread-crumb-list__item__icon"
  %li.bread-crumb-list__item
    マイページ
    = fa_icon "chevron-right", class: "bread-crumb-list__item__icon"
  %li.bread-crumb-list__item.bread-crumb-list__item--bold 
    ログアウト
    
  