.header__bottom__user-menu__li__notice
  .header__bottom__user-menu__li__notice__logo
    = image_tag "logo_red.svg", size: "50x50"
  .header__bottom__user-menu__li__notice__message
    《友達・家族を招待すると必ず1000Pプレゼント》2人誘うとユニバーサル・...
    .header__bottom__user-menu__li__notice__message__hours-ago
      = fa_icon "clock"
      %span 8時間前
  .header__bottom__user-menu__li__notice__icon
    = fa_icon "chevron-right"